.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 0.1px solid lightgrey;
  padding: 5px 0;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 50px;
  /* margin-right: 10px; */
}

.header__search {
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: grey;
  background-color: #eef3f8;
  height: 25px;
  align-items: center;
}

.header__search > input {
  outline: none;
  border: none;
  width: 300px;
  background: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__hamburger {
  display: none;
}

@media (max-width: 850px) {
  .header__search {
    display: none;
  }

  .header__right {
    justify-content: center;
  }

  .header__hamburger {
    display: flex;
    align-items: center;
  }
}
