.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption:active {
  color: black;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 850px) {
  .headerOption__icon {
    padding: 0 10px;
    display: flex;
  }

  .headerOption__title {
    display: none;
  }
}
