.login {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  height: 82vh;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__register {
  color: #0288d1;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
}
